body{
color:pink;
background-color: beige;
margin:0px;
}

cabeçalho{
     border-bottom: solid px burlywood;
    padding: 20px;
    font-size: 32px;
    color:antiquewhite
}

cabeçalho{
    background-color: pink;
}
